{:deps {org.clojure/clojure {:mvn/version "1.10.2"}}
 :aliases
 {:cider-clj {:extra-deps {nrepl/nrepl       {:mvn/version "0.8.3"}
                           cider/cider-nrepl {:mvn/version "0.25.5"}}
              ;:jvm-opts ["-Xms2G" "-Xmx2G"]
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
